@import "../../scss/volt";

.user-menu-icon {
  min-width: 3rem;
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: #6C5581;
}

.user-menu-name {
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: white;
}