@import "../../../../scss/volt";

.dashboard-terminal-movimientos-container {
  min-width: 8rem;
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(180deg, #000052 0%, #056B79 42.31%, #0BFCAF 100%);
}

.dashboard-terminal-movimientos-count-text {
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: $light;
}

.dashboard-terminal-movimientos-description-text {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: $light;
}