@import url('https://fonts.googleapis.com/css2?family=Lato');

// Color system
$default: #000052;
$primary: hsl(283, 100%, 16%);
$primary-active: #5f0d8f;
$secondary: #0BFCAF;

// Typography
$font-family-sans-serif: "Lato", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";