<p-autoComplete #autocomplete name="autocomplete"
                [(ngModel)]="value"
                [suggestions]="items" 
                [disabled]="IsDisabled"
                (completeMethod)="filterItems($event)" 
                forceSelection="true"
                (onUnselect)="Unselect($event)"
                (onClear)="Clear($event)"
                styleClass="wid100"                 
                placeholder="{{placeHolder}}"
                field="{{field}}"
                [minLength]="minLength">

</p-autoComplete>
